<table class="table table-striped">
  <thead>
    <tr>
      <td>ID</td>
      <td>TITLE</td>
      <td>BODY</td>
      <td>ACTION</td>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |p| %>
      <tr id="<%= p[:id]  %>">
        <td id="<%= p[:id] %>td1"><%= p[:id]  %></td>
        <td id="<%= p[:id] %>td2"><%= p[:title]  %></td>
        <td id="<%= p[:id] %>td3"><%= p[:body]  %></td>
        <td>
          <%= link_to "edit", edit_post_path(p), :remote => true, :class => "btn-mini btn-info"  %>
          |
          <%= link_to "delete", post_path(p), :method => :delete, :remote => true, :class => "btn-mini btn-danger"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

